$lightgray: #efebeb;
$yellow: #fac853;
$green: #00c451;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import "reset";
@import "nouislider";
@import "common";
@import "main";
@import "dealer";
@import "service_page";
@import "contact_page";
@import "portfolio-page";
@import "news_page";
@import "category_page_desc";
@import "productPage";
@import "basket_page";
@import "thx_page";
@import "configuration";
@import "dostavka";
@import "pop_up";
@import "policy";
@import "about_page";
@import "my-custom";
