.factory {
display: flex;
  gap: 10px;
  align-items: center;
}
.description {}

.title {
  color: #fac853;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 3px;
}

.second {
  font-size: 12px;
  color: #efebeb;
}