.block {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.tel {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 3px;
  font-size: 12px;
  svg {
    transition: all 300ms linear;
  }
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}

.call_us {
  border-bottom: 1px dotted #fac853;
  color: #fac853;
  cursor: pointer;
  display: inline-block;
  width: 90%;
  text-align: center;
  font-size: 9px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all .3s ease;
  padding-bottom: 3px;
  &:hover {
    border-bottom: 1px solid #fac853;
  }
}
